* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1e1f22;
  color: #f0f0f0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin-top: 80px;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1000px;
  width: 100%;
  padding: 20px;
  text-align: left;
}

.page-title {
  font: 700 40px/46px "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 10px;
}

.updated-date {
  font: 400 14px/20px "Manrope", sans-serif;
  color: #cdd0d4;
  margin-bottom: 40px;
}

.page-description,
ul.page-description {
  font: 400 18px/26px "Inter", sans-serif;
  color: #cdd0d4;
  margin: 18px 0;
}

.page-description a {
  color: #485fc7;
  text-decoration: underline;
}

.page-description-header {
  font: 700 20px/26px "Inter", sans-serif;
  color: #fff;
  margin: 42px 0 18px;
}

ul.page-description {
  padding-left: 24px;
}

ul.page-description li {
  margin-bottom: 6px;
}

.navigation-links {
  list-style: disc;
  padding-left: 20px;
  margin-top: 40px;
}

.navigation-links li {
  margin-bottom: 10px;
}

.navigation-links a {
  font: 700 20px/24px "Manrope", sans-serif;
  color: #00ffcc;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navigation-links a:hover {
  color: #ffffff;
}

.navigation-links li::marker {
  color: #00ffcc;
}

@media (max-width: 600px) {
  .container {
    padding: 10px;
  }
}
